root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space

[*.lua]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,xsd}]
indent_size = 2
max_line_length = off
trim_trailing_whitespace = true
